.swiper {
  width: 85%;
  height: 100%;
  padding: 70px 55px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next{
  position: absolute;
  right: 1px;
  width: 55px;
  height: 55px;
  color: #fff;
  background-color: var(--green-color);
  border-radius: 50%;
}

.swiper-button-prev{
  position: absolute;
  left: 1px;
  width: 55px;
  height: 55px;
  color: #fff;
  background-color: var(--green-color);
  border-radius: 50%;
}

.swiper-pagination-bullet{
  width: 25px;
  height: 25px;
  background: var(--green-color);
  line-height: 15px;
}

@media  (max-width: 920px){
  .swiper-button-next{
    display: none;
  }
  .swiper-button-prev{
    display: none;
  }
}